{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/style_page_info.css' %}" >
{% endblock %}

{% block content %}
<div class="info-faltas-main graves" style="background-color: #1B6B65">
        <div class="info-faltas-content">
            <h1 class="info-faltas-titulo">Delitos por HECHOS DE CORRUPCIÓN en que pueden incurrir las y los SERVIDORES PÚBLICOS <br>Vinculados con faltas ADMINISTRATIVAS GRAVES</h1>
            
            <div class="info-faltas-intro">
                <p>De conformidad con lo previsto en el Capítulo III, del Título Tercero, de la
                    Ley de Responsabilidades Administrativas para el Estado de Michoacán de Ocampo (LRAEMO),
                    los actos de Particulares vinculados con Faltas Administrativas Graves, se consideran las siguientes:
                </p>
            </div>

            <div class="info-faltas-seccion">
                <h2 class="info-faltas-subtitulo">Ejercicio Ilícito de Servidor Público</h2>
                <p class="info-faltas-descripcion">
                    Comete el delito de ejercicio ilícito de servicio público quien:
                    <br>
                    Se atribuya o ejerza las funciones de un empleo, cargo o comisión sin haber tomado posesión legítima o sin llenar todos los requisitos legales.
                    <br>
                    Continúe ejerciendo las funciones de un empleo, cargo o comisión después de haber cumplido el término por el cual se le nombró, haberse revocado su nombramiento o haberse suspendido o destituido legalmente.
                    <br>
                    Se ostente con una comisión, empleo o cargo distintos del que realmente tuviere.
                    <br>
                    Abandone la comisión, empleo o cargo sin habérsele admitido la renuncia o concedido licencia, o antes de que se presente la persona que lo haya de sustituirlo.
                    <br>
                    Sustraiga, destruya, inutilice, oculte o utilice ilícitamente información o documentación que se encuentra bajo su custodia o a la que tenga acceso.
                    <br>
                    Promueva intereses o hechos o circunstancias falsas o ilícitas o niegue la existencia en todo o en parte de los mismos.
                    <br>
                    Teniendo obligación por razones de su empleo, cargo o comisión, de custodiar, vigilar, proteger o dar seguridad a personas, lugares, instalaciones u objetos, incumpliendo su deber, ponga en riesgo a las personas y lugares, instalaciones u objetos, o permita la sustracción de objetos que se encuentren bajo su cuidado.
                    <br>
                    Teniendo un empleo, cargo o comisión en los centros penitenciarios, facilite o fomente la introducción, uso, consumo, posesión o comercio de bebidas alcohólicas, sustancias psicotrópicas, así como de teléfonos celulares, radiolocalizadores o cualquier otro instrumento de comunicación radial o satelital para uso de los internos, así como el ingreso de personas con fines de comercio sexual. (Artículo 241 CPEM)                
                </p>
            </div>

            <div class="info-faltas-seccion">
                <h2 class="info-faltas-subtitulo">Abuso de Autoridad</h2>
                <p class="info-faltas-descripcion">
                    Comete el delito de abuso de autoridad la o el servidor público que:
                    <br>
                    Para impedir la ejecución de una ley, decreto o reglamento, el cobro de un impuesto o el cumplimiento de una resolución judicial, pida auxilio a la fuerza pública o la emplee con ese objeto.
                    <br>
                    Ejerciendo sus funciones o con motivo de ellas hiciere violencia a una persona sin causa legítima o la vejare o la insultare.
                    <br>
                    Indebidamente retarde o niegue a los particulares la protección o servicio que tenga obligación de otorgarles o impida la presentación o el curso de una solicitud.
                    <br>
                    Estando encargado de administrar justicia, bajo cualquier pretexto, niegue injustificadamente despachar un negocio pendiente ante él, dentro de los términos establecidos por la ley.
                    <br>
                    Siendo encargado de un establecimiento de detención, no cumpla una orden de libertad girada por autoridad competente.
                    <br>
                    Teniendo conocimiento de la privación ilegal de la libertad, no la denuncie inmediatamente.
                    <br>
                    Haga que se le entreguen fondos, valores u otra cosa que no se le haya confiado o disponga de ellos indebidamente.
                    <br>
                    Obligando al inculpado a declarar, usando incomunicación, intimidación, tortura o tratos crueles, inhumanos o degradantes.
                    <br>
                    Se oponga o niegue a que la autoridad competente encuentre a una persona desaparecida en el lugar donde haya motivos para creer que se encuentra.
                    <br>
                    Omita el registro de la detención correspondiente o ponga injustificadamente al detenido a disposición de la autoridad competente. (Artículo 243 CPEM)                
                </p>
            </div>

            <div class="info-faltas-seccion">
                <h2 class="info-faltas-subtitulo">Desaparición Forzada de Personas</h2>
                <p class="info-faltas-descripcion">
                    Comete este delito la o el servidor público o el particular que actúe con autorización, apoyo, consentimiento o dirección de aquél, y:
                    <br>
                    Detenga, arreste, aprese o prive de la libertad a una persona y posteriormente niegue reconocer dicha privación o impida el acceso a recursos legales o información sobre el paradero de la víctima. (Artículo 243 Bis CPEM)
                </p>
            </div>

            <div class="info-faltas-seccion">
                <h2 class="info-faltas-subtitulo">Coalición de Servidores Públicos</h2>
                <p class="info-faltas-descripcion">
                    Comete este delito cuando dos o más servidores públicos se coaligan para impedir o suspender la administración pública o ejecutar medidas en perjuicio del servicio público o del Estado. (Artículo 246 CPEM)                
                </p>
            </div>

            <div class="info-faltas-seccion">
                <h2 class="info-faltas-subtitulo">Colusión</h2>
                <p class="info-faltas-descripcion">
                    Incurre en colusión el particular que ejecute con uno o más sujetos particulares, en materia de contrataciones públicas, acciones que impliquen o tengan por objeto o efecto obtener un beneficio o ventaja indebidos en las contrataciones públicas de carácter local o municipal. También se considerará colusión cuando los particulares acuerden o celebren contratos, convenios, arreglos o combinaciones entre competidores, cuyo objeto o efecto sea obtener un beneficio indebido u ocasionar un daño a la Hacienda Pública o al patrimonio de los Órganos del Estado. (Artículo 70 LRAEMO).
                </p>
            </div>

            
            <div class="info-faltas-seccion">
                <h2 class="info-faltas-subtitulo">Uso Ilícito de Atribuciones y Facultades</h2>
                <p class="info-faltas-descripcion">
                    Comete este delito la o el servidor público que ilícitamente:
                    <br>
                    Otorgue concesiones, licencias, autorizaciones o adjudicaciones con contenido económico.
                    <br>
                    Otorgue franquicias, exenciones, deducciones o subsidios sobre impuestos o derechos.
                    <br>
                    Otorgue permisos o autorizaciones que produzcan beneficios económicos.
                    <br>
                    Contrate obras públicas, adquisiciones, arrendamientos o servicios ilícitos.
                    <br>
                    Deniegue el otorgamiento u obstaculice trámites sin causa.
                    <br>
                    Sea responsable de administrar y verificar el cumplimiento de concesiones sin hacerlo.
                    <br>
                    Ordene pagos ilegales o autorice información falsa. (Artículo 247 CPEM)                
                </p>
            </div>
            
            <div class="info-faltas-seccion">
                <h2 class="info-faltas-subtitulo">Intimidación</h2>
                <p class="info-faltas-descripcion">
                    Comete este delito la o el servidor público que:
                    <br>
                    Por sí o por interpósita persona, usando violencia física o psicológica, inhiba o intimide para evitar denuncias, querellas o testimonios relacionados con probables delitos o conductas ilícitas. (Artículo 249 CPEM)            
                </p>
            </div>

            <div class="info-faltas-seccion">
                <h2 class="info-faltas-subtitulo">Ejercicio Abusivo de Funciones</h2>
                <p class="info-faltas-descripcion">
                    Comete este delito la o el servidor público que:
                    <br>
                    Siendo autoridad, otorgue beneficios económicos indebidos a sí mismo, a terceros, o cause daños al patrimonio público.
                    <br>
                    Use la información a la que tenga acceso con motivo de su empleo para obtener beneficios.
                    <br>
                    Participe ilícitamente en contrataciones, trámites, licencias, permisos, servicios o adquisiciones.
                    (Artículo 249 Bis CPEM)
                </p>
            </div>

            <div class="info-faltas-seccion">
                <h2 class="info-faltas-subtitulo">Negación del Servicio Público</h2>
                <p class="info-faltas-descripcion">
                    Comete este delito quien:
                    <br>
                    Niegue o retrase injustificadamente la prestación de servicios públicos que está obligado a brindar.
                    <br>
                    Se niegue a ejecutar órdenes de autoridad competente.
                    <br>
                    Niegue protección o medidas de seguridad a quien lo requiera legalmente.
                    (Artículo 250 CPEM)                
                </p>
            </div>

                        
            <div class="info-faltas-seccion">
                <h2 class="info-faltas-subtitulo">Tráfico de Influencias</h2>
                <p class="info-faltas-descripcion">
                    Comete este delito quien:
                    <br>
                    Promueva o gestione la resolución ilícita de asuntos públicos usando su influencia política o económica.
                    <br>
                    Asegure tener influencia ante autoridades para obtener beneficios para sí o terceros.
                    (Artículo 251 CPEM)                
                </p>
            </div>

                        
            <div class="info-faltas-seccion">
                <h2 class="info-faltas-subtitulo">Cohecho</h2>
                <p class="info-faltas-descripcion">
                    Comete este delito la o el servidor público que:
                    <br>
                    Solicite o reciba ilícitamente beneficios para realizar u omitir actos de su función.
                    <br>
                    Prometa u otorgue beneficios a otro servidor público.
                    <br>
                    Realice asignaciones ilícitas de recursos públicos.
                    (Artículo 252 CPEM)
                </p>
            </div>

                        
            <div class="info-faltas-seccion">
                <h2 class="info-faltas-subtitulo">Cohecho Activo</h2>
                <p class="info-faltas-descripcion">
                    A quien ofrezca o entregue dinero o dádivas a un servidor público para influir en decisiones.
                    (Artículo 252 bis CPEM)
                </p>
            </div>

                        
            <div class="info-faltas-seccion">
                <h2 class="info-faltas-subtitulo">Peculado</h2>
                <p class="info-faltas-descripcion">
                    Comete este delito quien:
                    <br>
                    Desvíe recursos públicos para beneficio propio o de terceros.
                    <br>
                    Disponga ilícitamente de fondos públicos.
                    <br>
                    Utilice bienes del Estado con fines privados.
                    (Artículo 253 CPEM)
                </p>
            </div>

                        
            <div class="info-faltas-seccion">
                <h2 class="info-faltas-subtitulo">Concusión</h2>
                <p class="info-faltas-descripcion">
                    A quien siendo servidor público, exija por sí o por interpósita persona:
                    <br>
                    Impuestos, derechos, aportaciones, contribuciones, recargos, rentas, salarios, emolumentos, dinero o valores que no sean debidos o en mayor cantidad a la prevista por la ley. (Artículo 254 CPEM)
                </p>
            </div>

                        
            <div class="info-faltas-seccion">
                <h2 class="info-faltas-subtitulo">Enriquecimiento Ilícito</h2>
                <p class="info-faltas-descripcion">
                    Comete este delito quien:
                    <br>
                    No pueda acreditar el legítimo aumento de su patrimonio o la procedencia de los bienes a su nombre o bajo su control.
                    <br>
                    Se considera además el patrimonio de cónyuge e hijos, salvo que acrediten haberlo obtenido por sí mismos.
                    (Artículo 254 bis CPEM)
                </p>
            </div>

        </div>
    </div>
{% endblock %}

{% block extra_js %}

{% endblock %}