{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/style_page_info.css' %}" >
{% endblock %}

{% block content %}
<div class="info-faltas-main graves" style="background-color: #4DB5A5">
        <div class="info-faltas-content">
            <h1 class="info-faltas-titulo">Actos de PARTICULARES <br>Vinculados con faltas ADMINISTRATIVAS GRAVES</h1>
            
            <div class="info-faltas-intro">
                <p>De conformidad con lo previsto en el Capítulo III, del Título Tercero, de la
                    <strong>Ley de Responsabilidades Administrativas para el Estado de Michoacán de Ocampo (LRAEMO)</strong>,
                    los actos de <strong>Particulares</strong> vinculados con <strong>Faltas Administrativas Graves</strong>, se consideran las siguientes:
                </p>
            </div>

            <div class="info-faltas-seccion">
                <h2 class="info-faltas-subtitulo">Soborno</h2>
                <p class="info-faltas-descripcion">
                    Incurre en soborno el particular que prometa, ofrezca o entregue cualquier beneficio indebido a que se refiere la Ley de Responsabilidades Administrativas para el Estado de Michoacán de Ocampo, a uno o varios Servidores Públicos, directamente o a través de terceros, a cambio de que dichos Servidores Públicos realicen o se abstengan de realizar un acto relacionado con sus funciones o con las de otro servidor público, o bien, abusen de su influencia real o supuesta, con el propósito de obtener o mantener, para sí mismo o para un tercero, un beneficio o ventaja, con independencia de la aceptación o recepción del beneficio o del resultado obtenido. (Artículo 66 LRAEMO).
                </p>
            </div>

            <div class="info-faltas-seccion">
                <h2 class="info-faltas-subtitulo">Participación Ilícita de Procedimientos Administrativos</h2>
                <p class="info-faltas-descripcion">
                    Incurre en participación ilícita en procedimientos administrativos el particular que realice actos u omisiones para participar en los mismos, no obstante que por disposición de ley o resolución de autoridad competente se encuentre impedido o inhabilitado para ello. (Artículo 67 LRAEMO).
                </p>
            </div>

            <div class="info-faltas-seccion">
                <h2 class="info-faltas-subtitulo">Tráfico de Influencias</h2>
                <p class="info-faltas-descripcion">
                    Incurre en tráfico de influencias para inducir a la autoridad el particular que use su poder económico o político, real o ficticio, sobre cualquier servidor público, con el propósito de obtener para sí o para un tercero un beneficio o ventaja, o para causar perjuicio a alguna persona o al servicio público, con independencia de la aceptación de la o el servidor público o del resultado obtenido. (Artículo 68 LRAEMO).
                </p>
            </div>

            <div class="info-faltas-seccion">
                <h2 class="info-faltas-subtitulo">Utilización de Información Falsa</h2>
                <p class="info-faltas-descripcion">
                    Es responsable de utilizar información falsa el particular que presente documentación o información falsa o alterada, o simule el cumplimiento de requisitos o reglas establecidos en los procedimientos administrativos, con el propósito de lograr una autorización, un beneficio, una ventaja o de perjudicar a persona alguna.
                    Asimismo, incurre en obstrucción de facultades de investigación el particular que, teniendo información vinculada con una investigación de Faltas Administrativas, proporcione información falsa, retrase deliberada e injustificadamente la entrega de la misma, o no dé respuesta alguna a los requerimientos o resoluciones de autoridades investigadoras, substanciadoras o resolutoras, siempre y cuando le hayan sido impuestas previamente medidas de apremio conforme a las disposiciones aplicables. (Artículo 69 LRAEMO).
                </p>
            </div>

            <div class="info-faltas-seccion">
                <h2 class="info-faltas-subtitulo">Colusión</h2>
                <p class="info-faltas-descripcion">
                    Incurre en colusión el particular que ejecute con uno o más sujetos particulares, en materia de contrataciones públicas, acciones que impliquen o tengan por objeto o efecto obtener un beneficio o ventaja indebidos en las contrataciones públicas de carácter local o municipal. También se considerará colusión cuando los particulares acuerden o celebren contratos, convenios, arreglos o combinaciones entre competidores, cuyo objeto o efecto sea obtener un beneficio indebido u ocasionar un daño a la Hacienda Pública o al patrimonio de los Órganos del Estado. (Artículo 70 LRAEMO).
                </p>
            </div>

            
            <div class="info-faltas-seccion">
                <h2 class="info-faltas-subtitulo">Uso Indebido de Recursos Públicos</h2>
                <p class="info-faltas-descripcion">
                    Es responsable por el uso indebido de recursos públicos el particular que realice actos mediante los cuales se apropie, haga uso indebido o desvíe del objeto para el que estén previstos los recursos públicos, sean materiales, humanos o financieros, cuando por cualquier circunstancia maneje, reciba, administre o tenga acceso a estos recursos. (Artículo 71 LRAEMO).
                </p>
            </div>
            
            <div class="info-faltas-seccion">
                <h2 class="info-faltas-subtitulo">Contratación Indebida</h2>
                <p class="info-faltas-descripcion">
                    Es responsable de contratación indebida de ex Servidores Públicos el particular que contrate a quien haya sido servidor público o servidora pública durante el año previo, que posea información privilegiada que se relacione con las actividades que haya adquirido como motivo de su empleo, cargo o comisión en el servicio público, y directamente permita que el contratante se beneficie en el mercado o se coloque en situación ventajosa frente a sus competidores. (Artículo 72 LRAEMO).                </p>
            </div>

        </div>
    </div>
{% endblock %}

{% block extra_js %}

{% endblock %}