{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Denuncias Públicas de Faltas Administrativas y Hechos de Corrupción</title>
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    {% block extra_css %}{% endblock %}
</head>
<body>

    {% include 'components/navbar.html' %}

    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'components/footer.html' %}    

    <script src="{% static 'js/dropdown_base.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>