    {% load static %}

    <footer>
        <div class="footer-wrapper">
            <div class="footer-content-left">
                <img src="{% static 'image/logo-blanco.png' %}" alt="logotipo sesea blanco" class="footer-logo">
            </div>

            <div class="footer-content-center">
                <address id="footer-informacion">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <a href="https://sistemaanticorrupcion.michoacan.gob.mx">Página Oficial de la Secretaría Ejecutiva</a> <br>
                    Batalla de Casa Mata #1286, Col. Chapultepec Sur, C.P. 58260, <br>
                    Morelia, Michoacán. <br>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    Teléfono: +52 443 298 4009 <br>
                    Lunes - Viernes 8:00 a 16:00 hrs <br>
                    Correo: <a href="mailto:plataformadigital@seseamichoacan.mx">plataformadigital@seseamichoacan.mx</a> <br>
                    <a href="https://www.youtube.com/channel/UCB7kgmRAMFFj00XB0uLqWIQ/featured?view_as=subscriber" target="_blank">YouTube</a> |
                    <a href="https://facebook.com/SESEAMichoacan" target="_blank">Facebook</a>
                </address>
            </div>
            
        </div>

        <p>&copy; 2025 Secretaría Ejecutiva del Sistema Estatal Anticorrupción de Michoacán. <br>Todos los derechos reservados.</p>
    </footer>